<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="hi.css" />
        <title>Move Image with Mouse Pointer</title>
    </head>
    <body>
        <div class="container">
        <img id="space" src="space.webp" alt="Image">
        <img id="moon" src="moon.png" alt="Image">
        <img id="moon_black_bg" src="moon_black_bg.png" alt="Image">
        <img id="earth" src="earth.png" alt="Image">
        <img id="sun" src="sun.png" alt="Image">
        <img id="black_bg" src="black_bg.png" alt="Image">
        <div id="txt">Solar Eclipse</div>
        <script src="hi.js"></script>
        </div>
    </body>
</html>